<!DOCTYPE html>
<html>

<head>
    <title>Dna</title>
    <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <% if admin_signed_in? %>

        <%= current_admin.email%>

            <p>
                <%=link_to  "Sair do sistema", destroy_admin_session_path, method: :delete %>
            </p>

            <% end %>
                <% if user_signed_in? %>

                    <%= current_user.email%>

                        <p>
                            <%=link_to  "Sair do sistema", destroy_user_session_path, method: :delete %>
                        </p>

                        <% end %>
                            <%= yield %>

</body>

</html>