<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<div style="width:null; height:200; background-color:gray">
    <p align=center>
        <%= image_tag "pc.png" %>
    </p>
    <h1 align=center><strong>POLÍCIA CIVIL DE RORAIMA</strong>
    </h1>

    <h3 align=center><strong>INSTITUTO DE CRIMINALÍSTICA</strong>

    </h3>
    <h4 align=center>Laboratório Forense</h4>
</div>








<head>
    <title>D.N.A</title>
    <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <% if admin_signed_in? %>

        <%= current_admin.email%>

            <p>
                <%=link_to  "Sair do sistema", destroy_admin_session_path, method: :delete %>
            </p>

            <% end %>
                <% if user_signed_in? %>

                    <%= current_user.email%>

                        <p>
                            <%=link_to  "Sair do sistema", destroy_user_session_path, method: :delete %>
                        </p>

                        <% end %>
                            <%= yield %>

</body>

</html>